<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="outrosForm">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por favor, descreva sua dúvida abaixo</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form" [formGroup]="outrosForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="form_textarea__input">
            <mat-label>Mensagem</mat-label>
            <textarea class="form_textarea__input" matInput formControlName="duvida" required></textarea>
            <mat-error *ngIf="outrosForm.controls['duvida'].hasError('required')"> Campo obrigatório</mat-error>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" [disabled]="isLoading" mat-button (click)="goBack()">Voltar</button>
            <button
                *ngIf="!isLoading"
                type="submit"
                class="step_container_content__form__button__next"
                mat-button
                (click)="submit()"
            >Enviar</button>
            <button *ngIf="isLoading" class="step_container_content__form__button__next" mat-button disabled>
              <mat-spinner diameter="20" class="spinner "></mat-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step *ngIf="selectedForm === 'enviado'">
    <app-enviado></app-enviado>
  </mat-step>
  <mat-step *ngIf="selectedForm === 'erro'">
    <app-error></app-error>
  </mat-step>
</mat-horizontal-stepper>
