<mat-horizontal-stepper linear>
  <mat-step [stepControl]="garantiaForm">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por favor, Informe o nome e o número de série do produto que deseja acionar a Garantia</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form"  [formGroup]="garantiaForm">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="nome" placeholder="Nome" required>
            <mat-error *ngIf="garantiaForm.controls['nome'].hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Série</mat-label>
            <input type="text" matInput formControlName="serie" placeholder="Série" required>
            <mat-error *ngIf="garantiaForm.controls['serie'].hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button (click)="goBack()">Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm2">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Faça uma descrição detalhada do problema apresentado</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form" [formGroup]="garantiaForm2">
          <mat-form-field class="form_textarea__input">
            <mat-label>Mensagem</mat-label>
            <textarea class="form_textarea__input" matInput formControlName="mensagem" required></textarea>
            <mat-error *ngIf="garantiaForm2.controls['mensagem'].hasError('required')"> Campo obrigatório</mat-error>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button matStepperPrevious>Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm3">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Informe a data de compra do produto</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form"  [formGroup]="garantiaForm3">
          <mat-form-field>
            <mat-label>Escolha uma data</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dataCompra">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button matStepperPrevious>Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm4">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por favor, envie uma foto da etiqueta do produto para confirmarmos o modelo e lote da unidade</h2>
        <p>Dificuldade ao localizar a etiqueta? <a>clique aqui</a></p>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form" [formGroup]="garantiaForm4">
          <ng-template matStepLabel>Formulário A - Etapa 2</ng-template>
          <p>Arraste e solte o arquivo aqui ou clique para selecionar o arquivo:</p>
          <ngx-file-drop
            (onFileDrop)="onFileDropped($event)"
            (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp>
              <div class="file-drop-content">
                <p>Solte os arquivos aqui</p>
              </div>
            </ng-template>
          </ngx-file-drop>
          <div *ngIf="file">
            <p>Arquivo selecionado: {{ file.name }}</p>
          </div>
          <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </div>
    </div>


  </mat-step>
  <mat-step [stepControl]="garantiaForm5">
    <form [formGroup]="garantiaForm4">
      <ng-template matStepLabel>Formulário A - Etapa 2</ng-template>
      <p>Arraste e solte o arquivo aqui ou clique para selecionar o arquivo:</p>
      <ngx-file-drop
        (onFileDrop)="onFileDropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp>
          <div class="file-drop-content">
            <p>Solte os arquivos aqui</p>
          </div>
        </ng-template>
      </ngx-file-drop>
      <div *ngIf="file">
        <p>Arquivo selecionado: {{ file.name }}</p>
      </div>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="garantiaForm6">
    <form [formGroup]="garantiaForm2">
      <h2>Faça uma descrição detalhada do problema apresentado</h2>
      <mat-form-field>
        <mat-label>Mensagem</mat-label>
        <textarea matInput formControlName="mensagem" required></textarea>
        <mat-error *ngIf="garantiaForm2.controls['mensagem'].hasError('required')"> Campo obrigatório</mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext>Enviar</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
