<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="garantiaForm">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por favor, Informe o nome e o número de série do produto que deseja acionar a Garantia</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form"  [formGroup]="garantiaForm">
          <mat-form-field>
            <mat-label>Nome</mat-label>
            <input type="text" matInput formControlName="nomeProduto" placeholder="Nome" required>
            <mat-error *ngIf="garantiaForm.controls['nomeProduto'].hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Série</mat-label>
            <input type="text" matInput formControlName="serieProduto" placeholder="Série" required>
            <mat-error *ngIf="garantiaForm.controls['serieProduto'].hasError('required')">Campo obrigatório</mat-error>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button (click)="goBack()">Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm2">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Faça uma descrição detalhada do problema apresentado</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form" [formGroup]="garantiaForm2">
          <mat-form-field class="form_textarea__input">
            <mat-label>Mensagem</mat-label>
            <textarea class="form_textarea__input" matInput formControlName="descricao" required></textarea>
            <mat-error *ngIf="garantiaForm2.controls['descricao'].hasError('required')"> Campo obrigatório</mat-error>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button matStepperPrevious>Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>

    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm3">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Informe a data de compra do produto</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form"  [formGroup]="garantiaForm3">
          <mat-form-field>
            <mat-label>Escolha uma data</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dataCompra">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button matStepperPrevious>Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm4">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por favor, envie uma foto da etiqueta do produto para confirmarmos o modelo e lote da unidade</h2>
        <p>Dificuldade ao localizar a etiqueta? <a>clique aqui</a></p>
      </div>
      <div class="step_container_textarea">
        <form class="step_container_content__form from_textarea" [formGroup]="garantiaForm4">
          <ngx-file-drop
            (onFileDrop)="onFileDropped($event,'fotos')"
            (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)"
            [accept]="formats"
            [multiple]="multiple"
            >
            <ng-template ngx-file-drop-content-tmp>
              <div class="file-drop-content step_textarea">
                <img src="../../assets/page_assets/cloud_upload.svg" alt="">
                <p>Solte os arquivos para fazer <br/> upload ou <a href="javascript:void(0);" (click)="openFileSelector($event, 'fotos')">procurar</a></p>
                <p class="step_textarea__files_accept">Arquivos Suportados: .JPG, .PNG e .PDF</p>
              </div>
            </ng-template>
          </ngx-file-drop>
          <input type="file" #fileInputFotos multiple (change)="onFilesSelected($event,'fotos')" style="display: none;" />
          <div *ngIf="fotos.length > 0">
            <h3>Arquivos aceitos:</h3>
            <ul>
              <li *ngFor="let file of fotos" class="file-item">
                <div class="file-info">
                  {{ file.relativePath }}
                </div>
                <button mat-icon-button class="remove-button" (click)="removeFile(file.relativePath, 'fotos')">
                  <mat-icon>close</mat-icon>
                </button>
              </li>
            </ul>
          </div>
          <div *ngIf="fileLimitExceeded && fotos.length >= 3" class="file-limit-message">
            <p>Você atingiu o limite máximo de 3 fotos.</p>
          </div>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" mat-button matStepperPrevious>Voltar</button>
            <button class="step_container_content__form__button__next" mat-button matStepperNext>Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm5">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por favor, envie uma foto da Nota Fiscal do Produto</h2>
        <p>Dificuldade ao localizar a nota? <a>clique aqui</a></p>
      </div>
      <div class="step_container_textarea">
        <form class="step_container_content__form from_textarea" [formGroup]="garantiaForm5">
          <ngx-file-drop
            (onFileDrop)="onFileDropped($event,'notaFiscal')"
            (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)"
            [accept]="formats"
            [multiple]="multiple"
            >
            <ng-template ngx-file-drop-content-tmp>
              <div class="file-drop-content step_textarea">
                <img src="../../assets/page_assets/cloud_upload.svg" alt="">
                <p>Solte os arquivos para fazer <br/> upload ou <a href="javascript:void(0);" (click)="openFileSelector($event, 'notaFiscal')">procurar</a></p>
                <p class="step_textarea__files_accept">Arquivos Suportados: .JPG, .PNG e .PDF</p>
              </div>
            </ng-template>
          </ngx-file-drop>
          <input type="file" #fileInputNotaFiscal multiple (change)="onFilesSelected($event,'notaFiscal')" style="display: none;" />
          <div *ngIf="notaFiscal.length > 0">
            <h3>Arquivos aceitos:</h3>
            <ul>
              <li *ngFor="let file of notaFiscal" class="file-item">
                <div class="file-info">
                  {{ file.relativePath }}
                </div>
                <button mat-icon-button class="remove-button" (click)="removeFile(file.relativePath, 'notaFiscal')">
                  <mat-icon>close</mat-icon>
                </button>
              </li>
            </ul>
          </div>
          <div *ngIf="fileLimitExceeded && notaFiscal.length >= 3" class="file-limit-message">
            <p>Você atingiu o limite máximo de 3 arquivos de nota fiscal.</p>
          </div>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" [disabled]="isLoading" mat-button matStepperPrevious>Voltar</button>
            <div class="step_container_content__form__button__child">
              <button class="step_container_content__form__button__middle " [disabled]="isLoading" mat-button matStepperNext>Não tenho Nota Fiscal</button>
              <button
                *ngIf="!isLoading"
                type="submit"
                class="step_container_content__form__button__next"
                mat-button
                (click)="submit()"
              >
                Enviar
              </button>

              <button *ngIf="isLoading" class="step_container_content__form__button__next" mat-raised-button disabled>
                <mat-spinner diameter="20" class="spinner "></mat-spinner>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="garantiaForm6" *ngIf="selectedForm != 'enviado' && selectedForm != 'erro'">
    <div class="step_container">
      <div class="step_container_label">
        <h2>Por que sua Nota Fiscal não está disponível?</h2>
      </div>
      <div class="step_container_content">
        <form class="step_container_content__form" [formGroup]="garantiaForm6">
          <mat-form-field class="form_textarea__input">
            <mat-label>Mensagem</mat-label>
            <textarea class="form_textarea__input" matInput formControlName="mensagem" required></textarea>
            <mat-error *ngIf="garantiaForm6.controls['mensagem'].hasError('required')"> Campo obrigatório</mat-error>
          </mat-form-field>
          <div class="step_container_content__form__button">
            <button class="step_container_content__form__button__back" [disabled]="isLoading" mat-button matStepperPrevious>Voltar</button>
            <button
              *ngIf="!isLoading"
              type="submit"
              class="step_container_content__form__button__next"
              mat-button
              (click)="submit()"
            >
              Enviar
            </button>

            <button *ngIf="isLoading" class="step_container_content__form__button__next" mat-raised-button disabled>
              <mat-spinner diameter="20" class="spinner "></mat-spinner>
            </button>
          </div>
        </form>
      </div>

    </div>
  </mat-step>
  <mat-step *ngIf="selectedForm === 'enviado'">
    <app-enviado></app-enviado>
  </mat-step>
  <mat-step *ngIf="selectedForm === 'erro'">
    <app-error></app-error>
  </mat-step>
</mat-horizontal-stepper>
