/* garantia 1*/
.step_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step_container_label{
  margin: auto;
  width: 50%;
}

.step_container_label h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
}

.step_container_content{
  margin: auto;
}

.step_container_content {
  margin: 3% auto;
  width: 35%;
}

.step_container_content__form{
  display: flex;
  flex-direction: column;
  padding: 2%;
  justify-content: center;
}

.step_container_content__form__button{
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.step_container_content__form__button__next{
  width: 150px;
  height: 47px;
  gap: 0px;
  border-radius: 12px;
  color: #fff !important;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  border:none;
  background-color: #FF0000;
}

.step_container_content__form__button__back{
  width: 162.25px;
  height: 54px;
  gap: 0px;
  border-radius: 17px;
  border: 2px solid red;
  opacity: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  text-align: center;
  background-color: white;
  color: red;
}

.step_container_content__form__button__back:hover{
  background-color: red;
  color: white;
}

.form_textarea{
  border: solid 2px red;
}

.form_textarea__input{
  height: 200px;
}

.form_textarea__input > ::ng-deep .mat-mdc-text-field-wrapper{
  border: solid 2px red;
}

