<div class="container">
  <h2>Obrigado pelas informações!</h2>
  <div class="img_box">
    <img src="../../assets/page_assets/enviado.png" width="327px">
  </div>
  <div class="txt_box">
    <p>Sua mensagem foi encaminhada para nosso <span>Centro de atendimento</span> e em até 24hrs úteis você receberá uma mensagem por e-mail do nosso atendimento para dar sequência na resolução do seu problema.</p>
    <span class="txt_box__second">Por favor, evite abrir novos tickets sobre o mesmo problema até o contato do nosso especialista.</span>
  </div>
</div>
