<div class="questionario">
  <p>Para localizar <strong>o modelo e o número de série</strong> do produto, verifique a <u>etiqueta</u> na parte inferior do dispositivo, <u>no cabo de alimentação</u> ou <u>na embalagem original</u>. Certifique-se de manter essas informações acessíveis para suporte técnico ou garantia.</p>
  <img src="" alt="">
  <div class="questionario__tipos">
    <div>
      <h2>MOUSE</h2>
      <img src="" alt="">
    </div>
    <div>
      <h2>TECLADO</h2>
      <img src="" alt="">
    </div>
    <div>
      <h2>HEADSET</h2>
      <img src="" alt="">
    </div>
  </div>
</div>
